body {
    margin: 0;
}

/* Color variables */
:root {
    --font-color: #F2F2F2;
    --font-color-hover: #FFF;
    --wrap-back-color: #315022;

    --icon-color: #F2F2F2;
    --icon-color-hover: #E31D13;

    --font-family-header: "Open Sans", sans-serif;
    --font-size-menu: 14px;
    --font-size-contacts: 14px;
}

/* Grid area*/
.header-logo { grid-area: header-logo; }
.header-menu { grid-area: header-menu; }
.header-contacts { grid-area: header-contacts }

.header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--wrap-back-color);
    background-image:
        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)),
        url(../images/header_icons/back.jpg);
    background-position: center;
    background-size: cover;
    font-family: var(--font-family-header);
}

.header-wrap {
    display: grid;
    grid-template-areas: 
        "header-logo header-menu header-contacts";
    grid-template-columns: minmax(150px, 1fr) 3fr minmax(150px, 1fr);
    grid-gap: 15px;
    align-items: center;
    max-width: 1180px;
    min-width: 280px;
    margin: 0 auto;
}

/* Logo */
.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.header-logo img {
    max-width: 100%;
    height: auto;
}

/* Menu */
.header-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    grid-gap: 15px;
}

.header-menu__item {
    width: auto;
    padding: 10px 0;
}

.header-menu__name {
    padding: 10px 20px;
    text-decoration: none;
    font-size: var(--font-size-menu);
    color: var(--font-color);
    white-space: nowrap;
    text-transform: uppercase;
}

/* Contacts */
.header-contacts {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}

.header-contacts__item {
    display: flex;
    align-items: center;
    padding: 6px 0;
    font-size: var(--font-size-contacts);
}

.header-contacts__item:hover {
    color: var(--font-color-hover);   
}

.header-contacts__item .header-contacts__text {
    margin: 0;
}

.header-contacts__item .header-contacts__item-href {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-contacts__text {
    color: var(--font-color);
    border-bottom: 1px dashed var(--font-color);
    text-decoration: none;
}

.header-contacts__item:hover .header-contacts__text {
    border-bottom: 1px dashed transparent;
}

.header-contacts__icon {
    width: 1.3rem;
    height: 1.4rem;
    margin-right: 12px;
    fill: var(--icon-color);
}

.header-contacts__item:hover .header-contacts__icon {
    fill: var(--icon-color-hover);
}

.header .ymaps-2-1-71-geolink-processed:before {
    display: none;
}

.header .ymaps-2-1-71-geolink-processed:after {
    border-bottom: none;
}

.header .ymaps-2-1-71-ymaps-geolink-dark:hover,
.header .ymaps-2-1-71-ymaps-geolink-light:hover {
    color: var(--font-color-hover);
}

.header .ymaps-2-1-71-id-0 {
    margin-left: 0;
}

@media (max-width: 990px) {
    .header-wrap {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 1fr;
            grid-template-areas: 
        "header-logo header-contacts header-contacts"
        "header-menu header-menu header-menu";
    }

    .header-contacts {
        flex-direction: row;
        justify-content: center;
    }

    .header-contacts__item {
        padding: 10px 0;
    }
}

@media (max-width: 426px) {
    .header-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 2fr;
            grid-template-areas: 
        "header-logo"
        "header-contacts"
        "header-menu";
        grid-gap: 0;
        justify-content: flex-start;
    }

    .header-contacts {
        justify-content: flex-start;
    }

    .header-logo {
        justify-content: flex-start;
    }

    .header-menu__name {
        padding: 10px 0;
    }

    .header-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
    }
}