
/* Color variables */
:root {
    --font-color: #F2F2F2;
    --font-color-hover: #FFF;
    --wrap-back-color: #315022;

    --icon-color: #F2F2F2;
    --icon-color-hover: #E31D13;

    --font-family-header: "Open Sans", sans-serif;
    --font-size-menu: 14px;
    --font-size-contacts: 14px;
}

/* Grid area*/
.header-logo { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: header-logo; }
.header-menu { -ms-grid-row: 1; -ms-grid-column: 3; grid-area: header-menu; }
.header-contacts { -ms-grid-row: 1; -ms-grid-column: 5; grid-area: header-contacts }

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: var(--wrap-back-color);
    background-image:
        -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.4))),
        url(../images/header_icons/back.jpg);
    background-image:
        -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)),
        url(../images/header_icons/back.jpg);
    background-image:
        -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)),
        url(../images/header_icons/back.jpg);
    background-image:
        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4)),
        url(../images/header_icons/back.jpg);
    background-position: center;
    background-size: cover;
    font-family: var(--font-family-header);
}

.header-wrap {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 
        "header-logo header-menu header-contacts";
    -ms-grid-columns: minmax(150px, 1fr) 15px 3fr 15px minmax(150px, 1fr);
    grid-template-columns: minmax(150px, 1fr) 3fr minmax(150px, 1fr);
    grid-gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1180px;
    min-width: 280px;
    margin: 0 auto;
}

/* Logo */
.header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-logo img {
    max-width: 100%;
    height: auto;
}

/* Menu */
.header-menu {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, -webkit-max-content));
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    grid-gap: 15px;
}

.header-menu__item {
    width: auto;
    padding: 10px 0;
}

.header-menu__name {
    padding: 10px 20px;
    text-decoration: none;
    font-size: var(--font-size-menu);
    color: var(--font-color);
    white-space: nowrap;
    text-transform: uppercase;
}

/* Contacts */
.header-contacts {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
}

.header-contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6px 0;
    font-size: var(--font-size-contacts);
}

.header-contacts__item:hover {
    color: var(--font-color-hover);   
}

.header-contacts__item .header-contacts__text {
    margin: 0;
}




.header-contacts__item .header-contacts__item-href {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-contacts__text {
    color: var(--font-color);
    border-bottom: 1px dashed var(--font-color);
    text-decoration: none;
}

.header-contacts__item:hover .header-contacts__text {
    border-bottom: 1px dashed transparent;
}

.header-contacts__icon {
    width: 1.3rem;
    height: 1.4rem;
    margin-right: 12px;
    fill: var(--icon-color);
}

.header-contacts__item:hover .header-contacts__icon {
    fill: var(--icon-color-hover);
}

.header .ymaps-2-1-71-geolink-processed:before {
    display: none;
}

.header .ymaps-2-1-71-geolink-processed:after {
    border-bottom: none;
}

.header .ymaps-2-1-71-ymaps-geolink-dark:hover,
.header .ymaps-2-1-71-ymaps-geolink-light:hover {
    color: var(--font-color-hover);
}

.header .ymaps-2-1-71-id-0 {
    margin-left: 0;
}

@media (max-width: 990px) {
    .header-wrap {
        -ms-grid-columns: 1fr 15px 1fr 15px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1.5fr 15px 1fr;
        grid-template-rows: 1.5fr 1fr;
            grid-template-areas: 
        "header-logo header-contacts header-contacts"
        "header-menu header-menu header-menu";
    }

    .header-contacts {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .header-contacts__item {
        padding: 10px 0;
    }
    .header-logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .header-menu {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 5;
    }
    .header-contacts {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 3;
    }
}

@media (max-width: 426px) {
    .header-wrap {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: 1fr 0 2fr 0 2fr;
        grid-template-rows: 1fr 2fr 2fr;
            grid-template-areas: 
        "header-logo"
        "header-contacts"
        "header-menu";
        grid-gap: 0;
    }
    .header-logo {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .header-menu {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
    .header-contacts {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
    }
}